as/*
!as/_asdemo

cpp/*
!cpp/_cppdemo
!cpp/cppmine

idea/*
!idea/web

/Adobe
/_demo
/java
/nodejs
/res
/gitfile
/qt


# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
